{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "importOrder": [
    "(.*expo.*)",
    "(.*react.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/components/screens",
    "^@/components/layout",
    "^@/components/providers",
    "^@/components/ui",
    "^@/shared/constants",
    "^@/shared/colors"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
